{% extends "base.html" %}
{% include "navbar.html" %}

{% block content %}
    <div class = "container bg-white h-100">
        <form method="POST" class="p-5">
            {{ form.hidden_tag()}}
            <div class="row">
                {{ form.username(class = "form-control my-2", placeholder=form.username.label.text)}}
            </div>
            <div class="row">
                {{ form.password(class = "form-control my-2", placeholder=form.password.label.text)}}
            </div>
            <div class="row">
                {{ form.login(class = "btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}
